<div>
  <div *ngIf="currentCategory.id" class="edit-form">
    <h4>Category</h4>
    <form>
      <div class="form-group">
        <label for="name">Name</label>
        <input
          type="text"
          class="form-control"
          id="name"
          [(ngModel)]="currentCategory.name"
          name="title"
        />
      </div>
    </form>

    <button class="badge badge-danger mr-2" (click)="deleteCategory()">
      Delete
    </button>

    <button
      type="submit"
      class="badge badge-success mb-2"
      (click)="updateCategory()"
    >
      Update
    </button>
    <p>{{ message }}</p>
  </div>

  <div *ngIf="!currentCategory.id">
    <br />
    <p>Cannot access this Category...</p>
  </div>
</div>
